<link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" media="all" rel="stylesheet" type="text/css">
<script src="/javascripts/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $('.tomato').click(function(){
        parent.$(parent.document).trigger("fireTomato");
          return false;
      });
      $('.flower').click(function(){
          parent.$(parent.document).trigger("fireFlower");
          return false;
      });
  });

</script>
<style>
    .box-fr{
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
    }
    .box-title{
        margin: 0 auto;
        width: 132px;
    }
    .box-title img{
        float: left;
        padding-right: 12px;
    }
    .box-title h2{
        font-size: 38px;
        line-height: 26px;
        margin-left: 12px;
    }
    p{
        font-size: 25px;
    }
    .buttons{
        width: 250px;
        margin: -24px auto;
        text-align: center;
    }
     a.button {
         background: url(../images/img_sprite.png) no-repeat -287px 0px;
         width: 203px;
         height: 55px;
         float: left;
         margin: 0 32px 16px 14px;
         padding: 14px 0 0 20px;
         font-size: 19px;
         line-height: 39px;
         text-decoration: none;
         color: black;
         text-align: left;
    }
    a.button img{
        float: left;
        margin: 6px 9px 0 0;
    }

    a.buy_more{
        color: #D94601;
        font-size: 31px;
        float: left;
        margin-top: 0px;
        margin-left: 21px;
    }
</style>
<div class="box-fr">
    <div class="box-title">
      <img src="images/ic_heckle.png" width="30" height="28" alt="heckle">
      <h2>HECKLE</h2>
    </div>
    <p>Show the performer that you like the show, or let them know that you're not amused</p>

  <div class="buttons">
        <a href="#" class="button flower">
            <img src="images/ic_heckle.png" width="30" height="28" alt="heckle">
            Through flower (22 left)
        </a>
        <a href="#" class="button tomato">
            <img src="images/ic_apple.png" width="23" height="28" alt="heckle">
            Through tomato (02 left)
        </a>

        <a href="#" class="buy_more">BUY MORE THINGS TO HECKLE</a>
  </div>


</div>