<link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" media="all" rel="stylesheet" type="text/css">
<style>
    .box-fr{
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
    }
    .box-title{
        margin: 0 auto;
        width: 245px;
    }
    .box-title img{
        float: left;
        padding-right: 12px;
    }
    .box-title h2{
        font-size: 38px;
        line-height: 32px;
        margin-left: 12px;
    }
    p{
        font-size: 25px;
        margin: 0px auto;
        width: 440px;
    }

    p.text-tip{
        color: #D94601;
    }

    a.buy_more{
        color: #D94601;
    }
    .text{
        background: url(../images/img_sprite.png) no-repeat -658px -387px;
        width: 218px;
        height: 60px;
        float: left;
        border: none;
        padding: 9px 8px 6px 14px;
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
        font-size: 25px;
        margin-left: 20px;
    }
    .box-form{
        float:left;
        margin-top: 50px;
        width: 450px;
    }
    .button{
        background: url(../images/img_sprite.png) no-repeat -660px -338px;
        width: 100px;
        height: 49px;
        float: right;
        border: none;
        color: white;
        font-family: 'Amatic SC', cursive;
        font-weight: 400;
        font-size: 22px;
        margin-top: 5px;
    }
</style>
<div class="box-fr">
  <div class="box-title">
      <h2>CHANGE PROFILE IMAGE</h2>
  </div>
  <p>Select the image you want to upload, this replaces your current image.</p>

  <div class="box-form">
    <input type="text" name="tip"  class="text" />

    <button class="button">Change!</button>

  </div>


</div>